body {
    padding-top: 70px;
}

.no-spinners {
    -moz-appearance:textfield;
}
  
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.clickable:hover {
    cursor: pointer;
}

.wrapper {
    overflow: auto;
    width: 100%;
}

.table-scrolled {
    table-layout: auto;
    width: 100%;
}
.white-back {
    background-color: white;
}
.sticky-first {
    position: sticky;
    z-index: 1;
    left: 0;
}
.sticky-last {
    position: sticky;
    z-index: 1;
    right: 0;
}
