<div class="container-fluid">
    <h1 class="display-4 text-center"><i class="fas fa-money-bill-alt"></i> Рахунки</h1>

    <form class="form-inline justify-content-center">
        <h4>Оберіть рік </h4>&nbsp;<i class="fas fa-arrow-right"></i>&nbsp;
        <select class="custom-select my-1 mr-sm-2" ng-model="year" ng-options="year for year in years" ng-change="loadAccounts()"></select>
    </form>

    <div ng-cloak>
        <h3 ng-repeat-start="type in ::data.order" class="text-left" ng-switch="type">
            <span ng-switch-when="odeku">ОДЕКУ</span>
            <span ng-switch-when="okkt">ОККТ</span>
            <span ng-switch-when="odeku-okkt">ОДЕКУ+ОККТ</span>
            <span ng-switch-when="nd4">НДЧ</span>
        </h3>
        <div class="table-responsive wrapper">
            <table class="table table-hover table-sm table-scrolled">
                <thead class="thead-light">
                    <tr>
                        <th rowspan="2" scope="col" class="align-middle text-nowrap sticky-first">Рахунок / найменування</th>
                        <th colspan="[[ typeCodes[type].length ]]" scope="col" class="text-center">Коди КЕКВ</th>
                        <th rowspan="2" scope="col" class="align-middle text-center sticky-last">Всього</th>
                    </tr>
                    <tr>
                        <th scope="col" ng-repeat="code in typeCodes[type]">[[ code ]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="account in data.accounts[type]">
                        <th scope="row" class="sticky-first text-nowrap white-back">
                            <a ng-if="!account.nolink" href="accounts/[[ account.id ]]">[[ account.number ]] / [[ account.name ]]</a>
                            <span ng-if="account.nolink">[[ account.number ]]</span>
                        </th>
                        <td ng-repeat="code in typeCodes[type]" class="text-nowrap">
                            <span ng-if="!account.codes[code]">0,00</span>
                            <span ng-if="account.codes[code]" title="[[ account.codes[code].name ]]" ng-class="{'text-danger font-weight-bold': account.codes[code].balance < 0}">
                                [[ account.codes[code].balance | money ]]
                            </span>
                        </td>
                        <td ng-if="isEmptyObject(typeCodes[type])" class="text-center">залишки по кодам відсутні</td>
                        <th scope="row" class="text-center text-nowrap sticky-last white-back pl-3">[[ account.sum | money ]]</th>
                    </tr>
                </tbody>
            </table>
        </div><br ng-repeat-end/>
    </div>
</div>