<div class="container">
    <h2 class="text-center">Рахунок №[[ data.number ]] / [[ data.name ]] ([[ data.typeText ]])</h2><br/>
    <!-- log edit popup -->
    <div class="modal fade" id="logEditForm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form class="form-horizontal" ng-submit="updateLog()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fas fa-edit"></i> Редагування операції по рахунку "[[ data.name ]]"
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Код:</label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="font-weight-bold form-control-plaintext" value="[[ logEditCode ]] - [[ logEditDesc ]]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Сума:</label>
                        <div class="col-sm-9">
                            <input ignore-mouse-wheel required ng-model="logEditForm.amount" type="number" step="0.01" min="0.01" class="form-control no-spinners" placeholder="Нова сума">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Дата:</label>
                        <div class="col-sm-9">
                            <input type="text" required date-picker ng-model="logEditForm.date" class="form-control" placeholder="Дата документу">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Номер:</label>
                        <div class="col-sm-9">
                            <input required type="text" ng-model="logEditForm.number" class="form-control" placeholder="Номер документу">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="processing"><i class="fas fa-save"></i> Зберегти</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 border-right border-info pt-2 pb-2">
            <h4 class="text-center">Надходження/списання грошових коштів</h4><br/>
            <div ng-if="afSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Кошти додано успішно!</strong><br/>
                Поточний залишок по коду: [[ afBalance | money ]] грн.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div ng-if="afError" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Помилка запиту!</strong><br/>
                [[ afError ]]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="afSubmit()" name="af">
                <div class="form-group row">
                    <label for="inputKekv1" class="col-sm-2 col-form-label text-right">КЕКВ</label>
                    <div class="col-sm-10">
                        <input ng-model="afCode" type-ahead required data-source-url="/api/codes" data-source-params='{"type":1}' data-change-cb="setAFCode" autocomplete="off" type="text" class="form-control typeahead" id="inputKekv1" placeholder="КЕКВ">
                        <small class="form-text text-muted">Оберіть код з випадаючого списку</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputSum1" class="col-sm-2 col-form-label text-right">Сума</label>
                    <div class="col-sm-10">
                        <input ng-model="addForm.amount" required type="number" step="0.01" class="form-control no-spinners" id="inputSum1" placeholder="Сума">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDate1" class="col-sm-2 col-form-label text-right">Дата</label>
                    <div class="col-sm-10">
                        <input ng-model="addForm.date" date-picker type="text" required id="inputDate1" placeholder="Дата документу" autocomplete="off" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-right">Номер</label>
                    <div class="col-sm-10">
                        <input type="text" required ng-model="addForm.number" class="form-control" placeholder="Номер документу">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-success btn-lg" type="submit">
                            <i class="fas fa-plus"></i> Додати
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6 ml-md-auto pt-2 pb-2">
            <h4 class="text-center">Рух грошових коштів</h4><br/>
            <div ng-if="mfSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Кошти перенесено успішно!</strong><br/>
                Поточний залишок по коду: [[ mfBalance | money ]] грн.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div ng-if="mfError" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Помилка запиту!</strong><br/>
                [[ mfError ]]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="mfSubmit()" name="mf">
                <div class="form-group row">
                    <label for="inputAccount" class="col-sm-4 col-form-label font-weight-bold text-right">Інший рахунок</label>
                    <div class="col-sm-8">
                        <input name="mfAccount" ng-model="mfAccount" required type-ahead data-source-url="/api/accounts.search" data-source-params='{"type":[[ data.type ]]}' data-change-cb="setMFAccount" autocomplete="off" type="text" class="form-control typeahead" id="inputAccount" placeholder="Інший рахунок">
                        <small class="form-text text-muted">Оберіть рахунок, <u>з якого</u> необхідно перенести кошти</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputKekv3" class="col-sm-4 col-form-label font-weight-bold text-right">КЕКВ і.р.</label>
                    <div class="col-sm-8">
                        <input name="mfAccountCode" ng-model="mfAccountCode" required type-ahead data-change-cb="setMFAccountCode" data-source-external="true" autocomplete="off" type="text" class="form-control typeahead" id="inputKekv3" placeholder="КЕКВ іншого рахунку">
                        <small class="form-text text-muted">Оберіть КЕКВ рахунку, <u>з якого</u> переносяться кошти</small>
                        <small ng-show="mf.mfAccountCode.$error.sameAcc" class="form-text text-danger">Рухати кошти у межах одного рахунку та КЕКВ безглуздо.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputKekv2" class="col-sm-4 col-form-label text-right">КЕКВ д.р.</label>
                    <div class="col-sm-8">
                        <input name="mfCode" ng-model="mfCode" required type-ahead data-source-url="/api/codes" data-source-params='{"type":1}' data-change-cb="setMFCode" autocomplete="off" type="text" class="form-control typeahead" id="inputKekv2" placeholder="КЕКВ даного рахунку">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputSum2" class="col-sm-4 col-form-label text-right">Сума</label>
                    <div class="col-sm-8">
                        <input ng-model="moveForm.amount" required type="number" step="0.01" min="0.01" class="form-control no-spinners" id="inputSum2" placeholder="Сума">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDate2" class="col-sm-4 col-form-label text-right">Дата</label>
                    <div class="col-sm-8">
                        <input ng-model="moveForm.date" date-picker type="text" required id="inputDate2" placeholder="Дата документу" autocomplete="off" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Номер</label>
                    <div class="col-sm-8">
                        <input type="text" required ng-model="moveForm.number" class="form-control" placeholder="Номер документу">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-success btn-lg" type="submit">
                            <i class="fas fa-exchange-alt"></i> Рухати
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <h4 class="text-center"><i class="fas fa-dollar-sign"></i> Поточні залишки на рахунку</h4>
            <p ng-if="!data.codes" class="text-center text-danger font-weight-bold">Залишки відсутні.</p>
            <table ng-if="data.codes" ng-cloak class="table table-sm table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">КЕКВ</th>
                        <th scope="col">Найменування</th>
                        <th scope="col">Залишок</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(code, props) in data.codes track by props.id">
                        <th scope="row">[[ code ]]</th>
                        <td>[[ props.name ]]</td>
                        <td ng-class="{'text-danger font-weight-bold': props.balance < 0}">[[ props.balance | money ]]</td>
                    </tr>
                    <tr class="bg-primary text-white">
                        <td></td>
                        <th scope="row">РАЗОМ</th>
                        <th scope="row">[[ data.sum | money ]]</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class='container-fluid'>
    <div class="row mt-3 mb-3">
        <div class="col-sm-10 offset-md-1">
            <h4 class="text-center"><i class="fas fa-history"></i> Останні операції</h4>
            <p ng-if="!dataLogs.data.length" class="text-center text-danger font-weight-bold">Операції відсутні.</p>
            <div class="text-right" ng-if="dataLogs.pageCount > 1">
                <nav paginator data-set-page-cb="setLogsPageCb" data-total="[[ dataLogs.pageCount ]]" data-max-visible="10" data-align="end"></nav>
            </div>
            <table ng-if="dataLogs.data.length" ng-cloak class="table table-sm table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="align-middle">#</th>
                        <th scope="col" class="align-middle">Дата</th>
                        <th scope="col" class="align-middle">Хто</th>
                        <th scope="col" class="align-middle">Сума</th>
                        <th scope="col" class="align-middle">Операція</th>
                        <th scope="col" class="align-middle">Опис</th>
                        <th scope="col" class="align-middle">Дата документу</th>
                        <th scope="col" class="align-middle">Номер документу</th>
                        <th scope="col" class="align-middle">Дії</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="log in dataLogs.data track by log.id" ng-class="{'table-secondary': log.state == 2, 'table-danger': log.type == 1 && log.state == 1, 'table-success': log.type == 2 && log.state == 1}">
                        <td>[[ $index + 1 + dataLogs.curPage*logsRpp ]]</td>
                        <td class="text-nowrap">[[ log.created ]]</td>
                        <td><strong>[[ log.user.login ]]</strong></td>
                        <td class="text-nowrap">[[ log.amount | money ]]</td>
                        <td ng-switch="log.type">
                            <strong ng-switch-when="1">Списання</strong>
                            <strong ng-switch-when="2">Надходження</strong>
                        </td>
                        <td>
                            [[ log.account_code.code ]] ([[ log.account_code.description ]])
                            <span ng-if="log.related_log" ng-switch="log.type">
                                <i ng-switch-when="1" class="fas fa-arrow-right"></i>
                                <i ng-switch-when="2" class="fas fa-arrow-left"></i>
                                [[ log.related_log.code ]] ([[ log.related_log.description ]]) / [[ log.related_log.account ]]
                            </span>
                            <span ng-if="log.payment">
                                / Платіж №[[ log.payment.number ]] за <a href="agreement/[[ log.payment.agreement ]]">договором</a>
                            </span>
                        </td>
                        <td class="text-nowrap">[[ log.doc_date ]]</td>
                        <td class="text-nowrap">[[ log.doc_number ]]</td>
                        <td class="align-middle text-nowrap">
                            <button ng-if="!log.payment && log.state == 1" type="button" ng-click="openLogEditPopup(log.id)" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button ng-if="!log.payment && log.state == 1" type="button" single-confirm data-id="[[ log.id ]]" data-on-confirm="cancelOperation" data-toggle="confirmation" data-content="Ви впевнені у відміні саме цієї операції?" class="btn btn-danger btn-sm" title="ВІДМІНА операції">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button ng-if="!log.payment && log.state == 2" type="button" single-confirm data-id="[[ log.id ]]" data-on-confirm="redoOperation" data-toggle="confirmation" data-content="Ви впевнені у відновленні саме цієї операції?" class="btn btn-success btn-sm" title="ВІДНОВЛЕННЯ операції">
                                <i class="fas fa-redo-alt"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>