<div class="container-fluid">
    <h1 class="display-4 text-center"><i class="fas fa-file-invoice-dollar"></i> Договори</h1>
    <!-- common_buttons -->
    <div class="mt-3 p-3 bg-light rounded text-center">
        <a class="btn btn-success" href="agreement/new"><i class="fas fa-plus"></i> Створити новий</a>
        <button class="btn btn-info" ng-disabled="!data.status" ng-click="exportData()" type="button" title="Завантажити поточні результати пошуку у вигляді XLS-файлу"><i class="fas fa-file-export"></i> Експорт</button>
    </div>
    <!-- /common_buttons -->
    <div class="mt-3" ng-cloak>
        <!-- filters -->
        <div class="mt-3 p-3 bg-light rounded">
            <form ng-submit="loadAgreements(true)">
                <div class="form-row">
                    <div class="col">
                        <input type-ahead data-source-url="/api/codes" data-source-params='{"type":3}' data-change-cb="setCode" data-code-type="kpkv" autocomplete="off" type="text" class="form-control typeahead" placeholder="КПКВ">
                    </div>
                    <div class="col">
                        <input type-ahead data-source-url="/api/codes" data-source-params='{"type":1}' data-change-cb="setCode" data-code-type="kekv" autocomplete="off" type="text" class="form-control typeahead" placeholder="КЕКВ">
                    </div>
                    <div class="col">
                        <input type-ahead data-source-url="/api/codes" data-source-params='{"type":2}' data-change-cb="setCode" data-code-type="kdk" autocomplete="off" type="text" class="form-control typeahead" placeholder="КДК">
                    </div>
                    <div class="col">
                        <input type-ahead data-source-url="/api/executors" data-change-cb="setExecutor" autocomplete="off" type="text" class="form-control typeahead" placeholder="Постачальник / виконавець">
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input ng-model="filterForm.dateStart" date-picker readonly data-change-cb="setDateStart" type="text" autocomplete="off" class="form-control" placeholder="Початкова дата" id="iDateStart">
                            <div class="input-group-append clickable">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input ng-model="filterForm.dateEnd" date-picker readonly data-change-cb="setDateEnd" type="text" autocomplete="off" class="form-control" placeholder="Кінцева дата" id="iDateEnd">
                            <div class="input-group-append clickable">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <select class="form-control" ng-model="filterForm.state">
                            <option value="0" selected>Стан виконання...</option>
                            <option value="1">Діючий</option>
                            <option value="2">Виконаний</option>
                            <option value="3">Видалений</option>
                        </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Пошук</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /filters -->
        <!-- search results -->
        <p class="text-danger text-center font-weight-bold" ng-if="!data.status">[[ data.message ]]</p>
        <div ng-if="data.status">
            <table class="table table-hover mt-3">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="align-middle">№ п/п</th>
                        <th scope="col" class="align-middle">КПКВ</th>
                        <th scope="col" class="align-middle">КЕКВ</th>
                        <th scope="col" class="align-middle">КДК</th>
                        <th scope="col" class="align-middle">Виконавець</th>
                        <th scope="col" class="align-middle">Код ЄДРПОУ</th>
                        <th scope="col" class="align-middle">№ договору</th>
                        <th scope="col" class="align-middle" sorted data-def-sort="desc" data-sort-field="date" data-set-sorting-cb="applySorting">Дата</th>
                        <th scope="col" class="align-middle">Діє до</th>
                        <th scope="col" class="align-middle">Сума договору</th>
                        <th scope="col" class="align-middle">Предмет закупівлі</th>
                        <th scope="col" class="align-middle">Стан виконання</th>
                        <th scope="col" class="align-middle">Дебіторська заборгованість</th>
                        <th scope="col" class="align-middle">Кредиторська заборгованість</th>
                        <th scope="col" class="align-middle">PRZR</th>
                        <th scope="col" class="align-middle">Примітки</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickable" ng-repeat="agreement in data.data.agreements track by agreement.id" data-href="agreement/[[ agreement.id ]]" data-row-click>
                        <th scope="row">[[ $index+1 + (filterForm.page - 1)*filterForm.limit ]]</th>
                        <!-- KPKV -->
                        <td ng-if="!agreement.codes.kpkv" class="text-center">-</td>
                        <td ng-if="agreement.codes.kpkv" class="text-nowrap">
                            <span ng-repeat="code in agreement.codes.kpkv track by code.id" title="[[ code.description ]]">
                                [[ code.code ]]
                                <br ng-if="!$last"/>
                            </span>
                        </td>
                        <!-- /KPKV -->
                        <!-- KEKV -->
                        <td ng-if="!agreement.codes.kekv" class="text-center">-</td>
                        <td ng-if="agreement.codes.kekv" class="text-nowrap">
                            <span ng-repeat="code in agreement.codes.kekv track by code.id" title="[[ code.description ]]">
                                [[ code.code ]]
                                <br ng-if="!$last"/>
                            </span>
                        </td>
                        <!-- /KEKV -->
                        <!-- KDK -->
                        <td ng-if="!agreement.codes.kdk" class="text-center">-</td>
                        <td ng-if="agreement.codes.kdk" class="text-nowrap">
                            <span ng-repeat="code in agreement.codes.kdk track by code.id" title="[[ code.description ]]">
                                [[ code.code ]]
                                <br ng-if="!$last"/>
                            </span>
                        </td>
                        <!-- /KDK -->
                        <!-- executor -->
                        <td>[[ agreement.executor.name ]]</td>
                        <td>[[ agreement.executor.taxnum ]]</td>
                        <!-- /executor -->
                        <td class="text-nowrap">[[ agreement.number ]]</td>
                        <td>[[ agreement.date ]]</td>
                        <td>[[ agreement.valid_date ]]</td>
                        <td class="text-nowrap">[[ agreement.amount | money ]]</td>
                        <td>[[ agreement.subject ]]</td>
                        <!-- state -->
                        <td ng-switch="agreement.state">
                            <span ng-switch-when="1">діючий</span>
                            <span ng-switch-when="2">виконаний</span>
                            <span ng-switch-when="3">видалений</span>
                        </td>
                        <!-- /state -->
                        <td class="text-nowrap">[[ agreement.debit | money ]]</td>
                        <td class="text-nowrap">[[ agreement.credit | money ]]</td>
                        <td ng-switch="agreement.prozorro">
                            <span ng-switch-when="0">ні</span>
                            <span ng-switch-when="1">так</span>
                        </td>
                        <!-- notes -->
                        <td ng-if="!agreement.notes" class="text-center">-</td>
                        <td ng-if="agreement.notes">[[ agreement.notes ]]</td>
                        <!-- /notes -->
                    </tr>
                    <tr class="bg-primary text-white">
                        <td></td>
                        <th colspan="8" scope="row">РАЗОМ</th>
                        <th scope="row" class="text-nowrap">[[ data.data.sums.amount | money ]]</th>
                        <td colspan="2"></td>
                        <th scope="row" class="text-nowrap">[[ data.data.sums.debit | money ]]</th>
                        <th scope="row" class="text-nowrap">[[ data.data.sums.credit | money ]]</th>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center" ng-if="data.data.pageCount > 1">
                Сторінка
                <nav paginator data-set-page-cb="setPageCb" data-total="[[ data.data.pageCount ]]" data-max-visible="10" data-top-scroll="1" data-align="center"></nav>
            </div>
        </div>
        <!-- /search results -->
    </div>
</div>