<div class="container">
    <h1 class="display-4 text-center" ng-switch="agreementId">
        <span ng-switch-when="new"><i class="fas fa-file"></i> Новий договір</span>
        <span ng-switch-default><i class="fas fa-file-alt"></i> Договір №[[ form.number ]]</span>
    </h1>
    <form ng-submit="saveAgreement()" class="form-horizontal mt-4 mb-4" name="agrForm">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Номер договору:</label>
            <div class="col-sm-9">
                <span ng-if="!isNew">
                    <input type="text" required ng-model="form.number" class="form-control" placeholder="Номер договору">
                </span>
                <div class="input-group" ng-if="isNew">
                    <input type="text" required ng-model="form.number" class="form-control" placeholder="Номер договору">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary" ng-click="generateNumber()" ng-disabled="::genBtnDisabled">Згенерувати</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Дата:</label>
            <div class="col-sm-9">
                <input ng-model="form.date" date-picker required type="text" autocomplete="off" class="form-control" placeholder="Дата договору" data-change-cb="setDate">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Дата оплати:</label>
            <div class="col-sm-9">
                <input ng-model="form.due_date" date-picker required type="text" autocomplete="off" class="form-control" placeholder="Дата оплати" id="iDueDate">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Термін дії договору до:</label>
            <div class="col-sm-9">
                <input ng-model="form.valid_date" date-picker required type="text" autocomplete="off" class="form-control" placeholder="Термін дії договору до">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Назва постачальника / виконавця:</label>
            <div class="col-sm-9">
                <input required type-ahead ng-model="form.executor.name" type="text" data-source-url="/api/executors" data-change-cb="setExecutor" data-allow-external="1" data-on-blur-external="executorOnBlurExternal" autocomplete="off" class="form-control" placeholder="Постачальник / виконавець">
                <small class="form-text text-muted">Оберіть постачальника із списку наявних (ЄДРПОУ/ІНН буде заповнено автоматично) або введіть дані нового постачальника</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Код ЄДРПОУ/ІНН постачальника:</label>
            <div class="col-sm-9">
                <input name="taxnum" required type="text" ng-model="form.executor.taxnum" taxnum-check ng-class="{'is-invalid': agrForm.taxnum.$invalid && agrForm.taxnum.$touched}" maxlength="10" minlength="8" class="form-control" placeholder="Код ЄДРПОУ/ІНН постачальника">
                <small ng-show="agrForm.taxnum.$error.taxnum" class="form-text text-danger">Код введено невірно (контрольна сума не співпадає)</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="kekvSelect" class="col-sm-3 col-form-label text-right font-weight-bold">КЕКВ:</label>
            <div class="col-sm-9">
                <select select2 required ng-model="form.codes.kekv" data-source-url="/api/codes" data-source-params='{"type":1}' autocomplete="off" class="form-control" data-placeholder="Коди економічної класифікації видатків" multiple id="kekvSelect" data-change-cb="selectKekv">
                    <option ng-repeat="code in select.codes.kekv track by code.code_id" value="[[ code.code_id ]]" selected>[[ code.code ]] [[ code.description ]]</option>
                </select>
            </div>
        </div>
        <div class="form-group row" ng-if="form.sums.kekv">
            <label class="col-sm-3 col-form-label text-right font-weight-bold">Суми по КЕКВ:</label>
            <div class="col-sm-9">
                <div class="input-group" ng-repeat="(id, code) in form.sums.kekv track by id" ng-class="{'mb-3': !$last}">
                    <div class="input-group-prepend">
                        <span class="input-group-text">[[ code.code ]]</span>
                    </div>
                    <input str-to-num ignore-mouse-wheel ng-model="form.sums.kekv[id].amount" type="number" step="0.01" min="0.01" class="form-control no-spinners">
                    <div class="input-group-append">
                        <span class="input-group-text">грн</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right font-weight-bold">КДК:</label>
            <div class="col-sm-9">
                <select select2 required ng-model="form.codes.kdk" data-source-url="/api/codes" data-source-params='{"type":2}' autocomplete="off" class="form-control" data-placeholder="Коди державного класифікатора" multiple data-change-cb="selectKdk">
                    <option ng-repeat="code in select.codes.kdk track by code.code_id" value="[[ code.code_id ]]" selected>[[ code.code ]] [[ code.description ]]</option>
                </select>
            </div>
        </div>
        <div class="form-group row" ng-if="form.sums.kdk">
            <label class="col-sm-3 col-form-label text-right font-weight-bold">Суми по КДК:</label>
            <div class="col-sm-9">
                <div class="input-group" ng-repeat="(id, code) in form.sums.kdk track by id" ng-class="{'mb-3': !$last}">
                    <div class="input-group-prepend">
                        <span class="input-group-text">[[ code.code ]]</span>
                    </div>
                    <input str-to-num ignore-mouse-wheel ng-model="form.sums.kdk[id].amount" type="number" step="0.01" min="0.01" class="form-control no-spinners">
                    <div class="input-group-append">
                        <span class="input-group-text">грн</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right font-weight-bold">КПКВ:</label>
            <div class="col-sm-9">
                <select select2 required ng-model="form.codes.kpkv" data-source-url="/api/codes" data-source-params='{"type":3}' autocomplete="off" class="form-control" data-placeholder="Коди програмної класифікації видатків" multiple data-change-cb="selectKpkv">
                    <option ng-repeat="code in select.codes.kpkv track by code.code_id" value="[[ code.code_id ]]" selected>[[ code.code ]] [[ code.description ]]</option>
                </select>
            </div>
        </div>
        <!--<div class="form-group row" ng-if="form.sums.kpkv">
            <label class="col-sm-3 col-form-label text-right font-weight-bold">Суми по КПКВ:</label>
            <div class="col-sm-9">
                <div class="input-group" ng-repeat="(id, code) in form.sums.kpkv track by id" ng-class="{'mb-3': !$last}">
                    <div class="input-group-prepend">
                        <span class="input-group-text">[[ code.code ]]</span>
                    </div>
                    <input str-to-num ignore-mouse-wheel ng-model="form.sums.kpkv[id].amount" type="number" step="0.01" min="0.01" class="form-control no-spinners">
                    <div class="input-group-append">
                        <span class="input-group-text">грн</span>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Розрахункові рахунки:</label>
            <div class="col-sm-9">
                <select select2 required ng-model="form.accounts" data-source-url="/api/accounts.search" autocomplete="off" class="form-control" data-placeholder="Розрахункові рахунки" multiple>
                    <option ng-repeat="acc in select.accounts track by acc.account_id" value="[[ acc.account_id ]]" selected>[[ acc.number ]] [[ acc.name ]]</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right font-weight-bold">Сума договору:</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input required str-to-num ignore-mouse-wheel ng-model="form.amount" type="number" step="0.01" min="0.01" class="form-control no-spinners" placeholder="Сума договору">
                    <div class="input-group-append">
                        <span class="input-group-text">грн</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Предмет закупівлі:</label>
            <div class="col-sm-9">
                <input type="text" required ng-model="form.subject" class="form-control" placeholder="Предмет закупівлі">
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                 <legend class="col-sm-3 col-form-label text-right pt-0">Стан виконання:</legend>
                 <div class="col-sm-9">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="state" id="stateRadio-1" ng-model="form.state" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="stateRadio-1">Діючий</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="state" id="stateRadio-2" ng-model="form.state" class="custom-control-input" value="2">
                        <label class="custom-control-label" for="stateRadio-2">Виконаний</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="state" id="stateRadio-3" ng-model="form.state" class="custom-control-input" value="3">
                        <label class="custom-control-label text-danger" for="stateRadio-3">Видалений</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-sm-3 col-form-label text-right pt-0">Тендерний:</legend>
                <div class="col-sm-9">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="type" id="typeRadio-1" ng-model="form.type" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="typeRadio-1">Ні</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="type" id="typeRadio-2" ng-model="form.type" class="custom-control-input" value="2">
                        <label class="custom-control-label" for="typeRadio-2">Так</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-sm-3 col-form-label text-right pt-0">Є на Prozorro:</legend>
                <div class="col-sm-9">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="prozorro" id="prozorroRadio-0" ng-model="form.prozorro" class="custom-control-input" value="0">
                        <label class="custom-control-label" for="prozorroRadio-0">Ні</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="prozorro" id="prozorroRadio-1" ng-model="form.prozorro" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="prozorroRadio-1">Так</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Примітки:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="form.notes" class="form-control" placeholder="Примітки">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="processing"><i class="fas fa-save"></i> Зберегти</button>
        </div>
    </form>
    <div ng-if="!isNew">
        <hr/>
        <!-- payment list block -->
        <div ng-if="notEmptyObject(payments)">
            <h3 class="text-center"><i class="fas fa-list-ul"></i> Перелік платежів</h3>
            <table class="table table-hover table-sm mt-4">
                <thead class="thead-light">
                    <tr>
                        <th rowspan="2" scope="col" class="align-middle">Номер</th>
                        <th rowspan="2" scope="col" class="align-middle">Дата</th>
                        <th rowspan="2" scope="col" class="align-middle">Сума</th>
                        <th colspan="[[ paymentCodes.kekv.length ]]" class="text-center" scope="col">Суми КЕКВ</th>
                        <!--<th colspan="[[ paymentCodes.kdk.length ]]" class="text-center" scope="col">Суми КДК</th>-->
                        <th colspan="[[ paymentCodes.kpkv.length ]]" class="text-center" scope="col">Суми КПКВ</th>
                        <th rowspan="2" scope="col" class="align-middle text-center">Коментар</th>
                        <th rowspan="2"></th>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center" ng-repeat="code in paymentCodes.kekv">[[ code ]]</th>
                        <!--<th scope="col" class="text-center" ng-repeat="code in paymentCodes.kdk">[[ code ]]</th>-->
                        <th scope="col" class="text-center" ng-repeat="code in paymentCodes.kpkv">[[ code ]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="payment in payments track by payment.id">
                        <td>[[ payment.number ]]</td>
                        <td>[[ payment.date ]]</td>
                        <td>[[ payment.amount | money ]]</td>
                        <td ng-repeat="code in paymentCodes.kekv" class="text-center">
                            <span ng-if="!paymentAmounts[payment.id][code]">0,00</span>
                            <span ng-if="paymentAmounts[payment.id][code]">[[ paymentAmounts[payment.id][code] | money ]]</span>
                        </td>
                        <!--<td ng-repeat="code in paymentCodes.kdk" class="text-center">
                            <span ng-if="!paymentAmounts[payment.id][code]">0,00</span>
                            <span ng-if="paymentAmounts[payment.id][code]">[[ paymentAmounts[payment.id][code] | money ]]</span>
                        </td>-->
                        <td ng-repeat="code in paymentCodes.kpkv" class="text-center">
                            <span ng-if="!paymentAmounts[payment.id][code]">0,00</span>
                            <span ng-if="paymentAmounts[payment.id][code]">[[ paymentAmounts[payment.id][code] | money ]]</span>
                        </td>
                        <td class="text-center">
                            <span ng-if="!payment.comment">-</span>
                            <span ng-if="payment.comment">[[ payment.comment ]]</span>
                        </td>
                        <td class="text-center">
                            <button type="button" ng-click="showEditPaymentForm(payment.id)" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                    <tr class="bg-primary text-white">
                        <td colspan="2" class="font-weight-bold">РАЗОМ</td>
                        <td class="font-weight-bold">[[ paymentSums.total | money ]]</td>
                        <td class="font-weight-bold text-center" ng-repeat="code in paymentCodes.kekv">
                            [[ paymentSums[code] | money ]]
                        </td>
                        <!--<td class="font-weight-bold text-center" ng-repeat="code in paymentCodes.kdk">
                            [[ paymentSums[code] | money ]]
                        </td>-->
                        <td class="font-weight-bold text-center" ng-repeat="code in paymentCodes.kpkv">
                            [[ paymentSums[code] | money ]]
                        </td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>
            <!-- payment edit form -->
            <div class="modal fade" id="paymentEditForm" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form class="form-horizontal" name="paymentEditForm">
                        <div class="modal-header">
                            <h4 class="modal-title"><i class="fas fa-edit"></i> Редагування платежу №[[ pmtEditForm.number ]]</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label text-right">Номер документа:</label>
                                <div class="col-sm-9">
                                    <input type="text" required ng-model="pmtEditForm.number" class="form-control" placeholder="Номер документа">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label text-right">Дата:</label>
                                <div class="col-sm-9">
                                    <input type="text" required date-picker ng-model="pmtEditForm.date" class="form-control" placeholder="Дата платежу">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label text-right">Сума:</label>
                                <div class="col-sm-9">
                                    <input ignore-mouse-wheel required ng-model="pmtEditForm.amount" type="number" step="0.01" min="0.01" class="form-control no-spinners" placeholder="Сума платежу">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label text-right font-weight-bold">Суми по КЕКВ:</label>
                                <div class="col-sm-9">
                                    <div class="input-group" ng-repeat="code in select.codes.kekv track by code.id" ng-class="{'mb-3': !$last}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">[[ code.code ]]</span>
                                        </div>
                                        <input ignore-mouse-wheel required ng-model="pmtEditForm.sums.kekv[code.code_id]" type="number" step="0.01" min="0" class="form-control no-spinners">
                                        <div class="input-group-append">
                                            <span class="input-group-text">грн</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-group row">
                                <label class="col-sm-3 col-form-label text-right font-weight-bold">Суми по КДК:</label>
                                <div class="col-sm-9">
                                    <div class="input-group" ng-repeat="code in select.codes.kdk track by code.id" ng-class="{'mb-3': !$last}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">[[ code.code ]]</span>
                                        </div>
                                        <input ignore-mouse-wheel required ng-model="pmtEditForm.sums.kdk[code.code_id]" type="number" step="0.01" min="0" class="form-control no-spinners">
                                        <div class="input-group-append">
                                            <span class="input-group-text">грн</span>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label text-right font-weight-bold">Суми по КПКВ:</label>
                                <div class="col-sm-9">
                                    <div class="input-group" ng-repeat="code in select.codes.kpkv track by code.id" ng-class="{'mb-3': !$last}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">[[ code.code ]]</span>
                                        </div>
                                        <input ignore-mouse-wheel required ng-model="pmtEditForm.sums.kpkv[code.code_id]" type="number" step="0.01" min="0" class="form-control no-spinners">
                                        <div class="input-group-append">
                                            <span class="input-group-text">грн</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label text-right font-weight-bold">Суми по рахункам:</label>
                                <div class="col-sm-9">
                                    <div class="input-group" ng-repeat="acc in select.accounts track by acc.id" ng-class="{'mb-3': !$last}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">[[ acc.number ]] [[ acc.name ]]</span>
                                        </div>
                                        <input ignore-mouse-wheel required ng-model="pmtEditForm.sums.account[acc.account_id]" type="number" step="0.01" min="0" class="form-control no-spinners">
                                        <div class="input-group-append">
                                            <span class="input-group-text">грн</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label text-right">Коментар:</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="pmtEditForm.comment" class="form-control" placeholder="Коментар до платежу">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" ng-disabled="processing" single-confirm data-on-confirm="removePayment" data-toggle="confirmation" data-content="Ви впевнені у видаленні саме цього платежу? Ця дія є НЕЗВОРОТНОЮ!"><i class="fas fa-trash"></i> Видалити</button>
                            <button type="button" class="btn btn-success" ng-disabled="processing" single-confirm data-on-confirm="updatePayment" data-toggle="confirmation" data-content="Ви впевнені?"><i class="fas fa-save"></i> Зберегти</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /payment edit form -->
            <hr/>
        </div>
        <!-- /payment list block -->
        <!-- add new payment block -->
        <h3 class="text-center"><i class="fas fa-money-check-alt"></i> Створити платіж</h3>
        <form ng-submit="addPayment()" class="form-horizontal mt-4 mb-4" name="paymentForm">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">Номер документа:</label>
                <div class="col-sm-9">
                    <input type="text" required ng-model="pmtForm.number" class="form-control" placeholder="Номер документа">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">Дата:</label>
                <div class="col-sm-9">
                    <input type="text" required date-picker ng-model="pmtForm.date" class="form-control" placeholder="Дата платежу">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">Сума:</label>
                <div class="col-sm-9">
                    <input ignore-mouse-wheel required ng-model="pmtForm.amount" type="number" step="0.01" min="0.01" class="form-control no-spinners" placeholder="Сума платежу">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right font-weight-bold">Суми по КЕКВ:</label>
                <div class="col-sm-9">
                    <div class="input-group" ng-repeat="code in select.codes.kekv track by code.id" ng-class="{'mb-3': !$last}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">[[ code.code ]]</span>
                        </div>
                        <input ignore-mouse-wheel required ng-model="pmtForm.sums.kekv[code.code_id]" type="number" step="0.01" min="0" class="form-control no-spinners">
                        <div class="input-group-append">
                            <span class="input-group-text">грн</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="form-group row">
                <label class="col-sm-3 col-form-label text-right font-weight-bold">Суми по КДК:</label>
                <div class="col-sm-9">
                    <div class="input-group" ng-repeat="code in select.codes.kdk track by code.id" ng-class="{'mb-3': !$last}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">[[ code.code ]]</span>
                        </div>
                        <input ignore-mouse-wheel required ng-model="pmtForm.sums.kdk[code.code_id]" type="number" step="0.01" min="0" class="form-control no-spinners">
                        <div class="input-group-append">
                            <span class="input-group-text">грн</span>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right font-weight-bold">Суми по КПКВ:</label>
                <div class="col-sm-9">
                    <div class="input-group" ng-repeat="code in select.codes.kpkv track by code.id" ng-class="{'mb-3': !$last}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">[[ code.code ]]</span>
                        </div>
                        <input ignore-mouse-wheel required ng-model="pmtForm.sums.kpkv[code.code_id]" type="number" step="0.01" min="0" class="form-control no-spinners">
                        <div class="input-group-append">
                            <span class="input-group-text">грн</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right font-weight-bold">Суми по рахункам:</label>
                <div class="col-sm-9">
                    <div class="input-group" ng-repeat="acc in select.accounts track by acc.id" ng-class="{'mb-3': !$last}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">[[ acc.number ]] [[ acc.name ]]</span>
                        </div>
                        <input ignore-mouse-wheel required ng-model="pmtForm.sums.account[acc.account_id]" type="number" step="0.01" min="0" class="form-control no-spinners">
                        <div class="input-group-append">
                            <span class="input-group-text">грн</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">Коментар:</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="pmtForm.comment" class="form-control" placeholder="Коментар до платежу">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" ng-disabled="processing"><i class="fas fa-plus"></i> Додати платіж</button>
            </div>
        </form>
        <!-- /add new payment block -->
    </div>
</div>