<div class="container-fluid">
    <h1 class="display-4 text-center"><i class="fas fa-chart-line"></i> Звіти за КДК</h1>
    <div class="container text-center mb-3 mt-3">
        <div class="input-group input-group-lg">
            <input type-ahead data-source-url="/api/codes" data-source-params='{"type":2}' data-change-cb="setFilterCode" data-code-type="kdk" autocomplete="off" type="text" class="form-control typeahead form-control-lg" placeholder="Спочатку оберіть КДК...">
            <input ng-model="commonFilter.year" type="number" step="1" min="1900" max="2200" class="form-control no-spinners col-sm-2" placeholder="та рік...">
            <div class="input-group-append">
                <button type="button" class="btn btn-primary btn-lg" ng-click="globalSearch()"><i class="fas fa-search"></i> Пошук</button>
            </div>
        </div>
    </div>
    <!-- plan create/edit popup -->
    <div class="modal fade" id="planEditForm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form class="form-horizontal" name="planEditForm" ng-submit="planSave()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fas fa-edit"></i>
                        <span ng-if="!planEditMode">Створення</span>
                        <span ng-if="planEditMode">Редагування</span> річного плану
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Рік:</label>
                        <div class="col-sm-9">
                            <input required ng-model="planForm.year" type="number" step="1" min="1900" max="2200" class="form-control no-spinners" placeholder="Рік плану">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Дата:</label>
                        <div class="col-sm-9">
                            <input type="text" required date-picker ng-model="planForm.date" class="form-control" placeholder="Дата плану">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">КДК:</label>
                        <div class="col-sm-9">
                            <input required type-ahead ng-model="planForm.codeText" data-source-url="/api/codes" data-source-params='{"type":2}' data-change-cb="setPlanCode" data-code-type="kdk" autocomplete="off" type="text" class="form-control typeahead" placeholder="КДК плану">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Предмет:</label>
                        <div class="col-sm-9">
                            <input required type="text" ng-model="planForm.subject" class="form-control" placeholder="Предмет плану">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Сума:</label>
                        <div class="col-sm-9">
                            <input ignore-mouse-wheel required ng-model="planForm.amount" type="number" step="0.01" min="0.01" class="form-control no-spinners" placeholder="Сума плану">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Примітки:</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="planForm.notes" class="form-control" placeholder="Примітки до плану">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-if="planEditMode" type="button" class="btn btn-danger" ng-disabled="processing" single-confirm data-on-confirm="planRemove" data-toggle="confirmation" data-content="Ви впевнені у видаленні саме цього плану? Ця дія є НЕЗВОРОТНОЮ!"><i class="fas fa-trash"></i> Видалити</button>
                    <button type="submit" class="btn btn-success" ng-disabled="processing"><i class="fas fa-save"></i> Зберегти</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /plan create/edit popup -->
    <div class="row">
        <div class="col-sm-6 border-right border-info pt-2 pb-2">
            <h4 class="text-center">Річні плани</h4>
            <!-- filters block -->
            <div class="mt-3 p-3 bg-light rounded text-center">
                <div class="form-row ml-md-auto text-center">
                    <div class="col-3">
                        <div class="input-group">
                            <input ng-model="planFilter.dateStart" date-picker readonly data-change-cb="setDateStart" type="text" autocomplete="off" class="form-control" placeholder="Початкова дата" id="iDateStart">
                            <div class="input-group-append clickable">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <input ng-model="planFilter.dateEnd" date-picker readonly data-change-cb="setDateEnd" type="text" autocomplete="off" class="form-control" placeholder="Кінцева дата" id="iDateEnd">
                            <div class="input-group-append clickable">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-secondary" ng-click="planSearch()"><i class="fas fa-search"></i> Пошук</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-success" ng-click="openCreatePlanPopup()"><i class="fas fa-plus"></i> Створити новий</button>
                    </div>
                </div>
            </div>
            <!-- /filters block -->
            <!-- search results -->
            <p class="text-danger text-center font-weight-bold" ng-if="planData.message">[[ planData.message ]]</p>
            <div ng-if="planData.status">
                <table class="table table-hover mt-3 table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">№ п/п</th>
                            <th scope="col" class="align-middle">Рік</th>
                            <th scope="col" class="align-middle">Дата</th>
                            <th scope="col" class="align-middle">КДК</th>
                            <th scope="col" class="align-middle">Предмет</th>
                            <th scope="col" class="align-middle">Сума</th>
                            <th scope="col" class="align-middle">Примітка</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="plan in planData.data.plans track by plan.id">
                            <th scope="row">[[ $index+1 ]]</th>
                            <td scope="row">[[ plan.year ]]</td>
                            <td scope="row">[[ plan.date ]]</td>
                            <td scope="row" title="[[ plan.code.description ]]" class="text-nowrap">[[ plan.code.code ]]</td>
                            <td scope="row">[[ plan.subject ]]</td>
                            <td scope="row" class="text-nowrap">[[ plan.amount | money ]]</td>
                            <td scope="row" ng-if="plan.notes">[[ plan.notes ]]</td>
                            <td scope="row" ng-if="!plan.notes">-</td>
                            <td class="text-center">
                                <button type="button" ng-click="openEditPlanPopup(plan.id)" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                            </td>
                        </tr>
                        <tr class="bg-primary text-white">
                            <td></td>
                            <th colspan="4" scope="row">РАЗОМ</th>
                            <th scope="row" class="text-nowrap">[[ planData.data.sum | money ]]</th>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /search results -->
        </div>
        <div class="col-sm-6 ml-md-auto pt-2 pb-2">
            <h4 class="text-center">Факт по ДК</h4><br/>
            <!-- search results -->
            <p class="text-center" ng-if="!searched">Будь ласка, оберіть КДК та рік для пошуку відповідних договорів.</p>
            <p class="text-danger text-center font-weight-bold" ng-if="agrmtData.message">[[ agrmtData.message ]]</p>
            <div ng-if="agrmtData.status">
                <table class="table table-hover mt-3 table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">№ п/п</th>
                            <th scope="col" class="align-middle">№ договору</th>
                            <th scope="col" class="align-middle">Дійсний до</th>
                            <th scope="col" class="align-middle">Дата договору</th>
                            <th scope="col" class="align-middle">Сумма за КДК</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="agrmt in agrmtData.data.agreements">
                            <th scope="row">[[ $index+1 ]]</th>
                            <td scope="row">[[ agrmt.number ]]</td>
                            <td scope="row">[[ agrmt.valid_date ]]</td>
                            <td scope="row">[[ agrmt.date ]]</td>
                            <td scope="row">[[ agrmt.amount | money ]]</td>
                        </tr>
                        <tr class="bg-primary text-white">
                            <td></td>
                            <th colspan="3" scope="row">РАЗОМ</th>
                            <th scope="row" class="text-nowrap">[[ agrmtData.data.sum | money ]]</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /search results -->
        </div>
    </div>
    <div class="container" ng-if="planData.data.sum > 0 || agrmtData.data.sum > 0">
        <hr/>
        <h3 class="text-center mt-2">Залишок: [[ planData.data.sum - agrmtData.data.sum | money ]] грн</h3>
    </div>
</div>