<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Ласкаво просимо!</h1>
    <p class="lead">Ви у програмі "Бюджетна Організація", яка допомогає вести облік договорів, рахунків планово-фінансовому відділу.</p>
    <hr class="my-4">
    <p>Для початку роботи оберіть необхідний розділ з панелі зверху або нижче.</p>
    <ul>
      <li><a href="agreements">Договори</a></li>
      <li><a href="accounts">Рахунки</a></li>
      <li><a href="reports">Звіти за КДК</a></li>
    </ul>
  </div>
</div>