<!DOCTYPE html>
<html ng-app="bo" ng-csp>
<head>
    <base href="/cp/">
    <title>Бюджетна Організація</title>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.8.0/dist/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.5/dist/css/select2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-theme-bootstrap4@0.2.0-beta.2/dist/select2-bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-toastr@2.1.1/dist/angular-toastr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular@1.7.4/angular-csp.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.5.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.5.0/css/solid.min.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <script src="https://cdn.jsdelivr.net/npm/angular@1.7.4/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-route@1.7.4/angular-route.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-animate@1.7.4/angular-animate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-toastr@2.1.1/dist/angular-toastr.tpls.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.5/dist/js/select2.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.5/dist/js/i18n/uk.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@4.0.2/dist/bootstrap-confirmation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-3-typeahead@4.0.2/bootstrap3-typeahead.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.8.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.8.0/dist/locales/bootstrap-datepicker.uk.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/inox9/jquery-bootpag-bs4@1.0.8/lib/jquery.bootpag.min.js"></script>
    <script src="/static/ng/admin/app.js"></script>
    <script src="/static/ng/admin/others.js"></script>
    <script src="/static/ng/admin/controllers.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" ng-controller="NavCtrl">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand mb-0 h1">Бюджетна Організація</span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="agreements"><i class="fas fa-file-invoice-dollar"></i> Договори</a>
        <a class="nav-item nav-link" href="accounts"><i class="fas fa-money-bill-alt"></i> Рахунки</a>
        <a class="nav-item nav-link" href="reports"><i class="fas fa-chart-line"></i> Звіти за КДК</a>
    </div>
  </div>
  <form class="form-inline my-2 my-lg-0" ng-show="loaded">
      <span class="navbar-text mr-2"><i class="fas fa-user-circle"></i> <strong>[[ ::user ]]</strong></span>
      <button ng-click="logout()" class="btn btn-warning"><i class="fas fa-sign-out-alt"></i> Вийти</button>
  </form>
</nav>
<ng-view autoscroll="true"></ng-view>
</body>
</html>