<!DOCTYPE html>
<html ng-app="bo" ng-csp>
<head>
    <title>БО / Авторизація</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="robots" content="noindex"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular@1.7.4/angular-csp.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/angular@1.7.4/angular.min.js" type="text/javascript"></script>
    <script src="/static/ng/loginapp.js" type="text/javascript"></script>
</head>
<body class="text-center">
    <form class="form-signin" ng-controller="LoginCtrl" ng-submit="login()">
      <img class="mb-4" src="/static/img/logo_odeku1.png" alt="" width="80" height="102"/>
      <h1 class="h3 mb-3 font-weight-normal">БО-ОДЕКУ / Авторизація</h1>
      <div ng-show="error" class="alert alert-danger" ng-cloak>[[ errorMsg ]]</div>
      <input type="text" id="login" ng-model="loginForm.login" class="form-control" placeholder="Логін" required autofocus>
      <input type="password" id="password" ng-model="loginForm.password" class="form-control" placeholder="Пароль" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="disabled">Увійти</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>
  </body>
</html>